{% extends "renaudBlogBundle:Blog:index.html.twig" %}

{% block body %}
	<p>Page d'administration des articles</p>
	<p><a href='{{ path('renaud_blog_disconnect') }}'>Se déconnecter</a></p>
{% endblock %}