<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blog</title>
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>

	<header>
			<div class="menu"><a href="{{ path('renaud_blog_homepage') }}"><p>Accueil</p></a></div>
			<div class="menu"><a href="{{ path('renaud_blog_listeArticles') }}"><p>Articles</p></a></div>
			<div class="menu">
			{% block login %}
				<p>Connexion</p>
			{% endblock %}
			</div>
	</header>
	
	<br/>
	{% block body %}
	{% endblock %}
	
	<footer>
		<p>© Renaud Vivancos 2016</p>
	</footer>
</body>
</html>