/****************************
	      FONTS
****************************/
@font-face {
    font-family: ariasolid-Regular;
    src: url(../fonts/ariasolid-Regular.ttf);
}
@font-face {
    font-family: indieFlower;
    src: url(../fonts/IndieFlower.ttf);
}
@font-face {
    font-family: classie;
    src: url(../fonts/classie.ttf);
}

/****************************
	      GENERAL
****************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body{

    color: #fff;
    font-family: classie;

}
body::after {
    content: "";
    background-image:  url(../images/bg.jpg);
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.hidden {
    display: none;
}
.container{
    display: flex-container;
}
.flex-container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: column;
    -moz-box-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height:100%;
}

.flex-item {
    margin: auto;
    height:200px;
    width:200px;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 10em;
    text-align: center;
    color: #252433;
}
ul{

    margin-left: 0!important;
}
li {
    list-style: none;
}
/*************************
	      HEADER
****************************/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #252433;
    z-index: 100;
    box-shadow: 0px 0px 10px #290014;
}

.logo{
    position: absolute;
    top: 0;
    left:10%;
    margin: 0 auto;
    font-size: 1.4em;
    line-height:5rem;
    font-family: 'ariasolid-Regular';
    color: #252433;
    text-shadow:
            #807DA2 3px 3px,
            #807DA2 -3px 3px,
            #807DA2 -3px -3px,
            #807DA2 3px -3px;
}

/****************************
	      MENU
****************************/

.outer-menu {
    position: fixed;
    top: 0;
    right: 0;
}

.outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
    color: #807DA2;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #807DA2;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease 0.4s;
    transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.outer-menu .hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: .5em 1em;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .hamburger > div {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 100%;
    height: 3px;
    background: #807DA2;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: inherit;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
    top: 10px;
}
.outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: #807DA2;
    background: #252433;
    border-radius: 50%;
    border: solid 4px #807DA2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
}
.outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
    color: #fff;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
    width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #807DA2;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
}


/**********************************************
                  ACCUEIL
**********************************************/

.lettre{
    font-size: 4em;
    font-family:'ariasolid-Regular';
    margin:auto;
    color: #252433;
    transform:translateX(-15px);
    text-shadow:
            rgba(255,255,255,0.2) 6px 6px,
            rgba(255,255,255,0.2) -6px 6px,
            rgba(255,255,255,0.2) -6px -6px,
            rgba(255,255,255,0.2) 6px -6px;
    opacity: 0.7;
}

.lettre p{
    position: relative;
    justify-content: center;
}

.nav_intro{
    text-align: center;
    color: #fff;
    z-index: 1000;
}

.btn-inscription {
    width: 9rem;
    height: 2.5rem;
    margin: 2rem auto 0 auto;
    padding: 0.6rem ;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    letter-spacing: 0.2rem;
    border: 2px solid rgba(255,255,255,0.5);
    background-color: inherit;
    opacity: 0.7;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}
.btn-inscription:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}
.text{
    margin-top: 0;
    opacity: 0.3;
    font-weight: bold;
    letter-spacing: 0.2rem;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.nav_intro img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.5;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

.nav_intro img:hover {
    background-color: rgba(255,255,255,0.3);
    opacity: 0.4;
}

a.fleche:hover ~ p.text {
    opacity: 0.7;
}
/**********************************************
                  FORMULAIRE LOGIN
**********************************************/
.login{
    width: 320px;
    height: 320px;
    padding:45px;
    text-align: center;
    color: #C8C5F2;
    border-radius: 50%;
    background-color: #252433;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}

.login h2{
    text-align: center;
    margin: inherit;
}

.login_form{
    margin:auto;
}

.champ{
    margin:10px auto;
}

input .login{
    width:100%;
    text-align: left;
}
form {
    margin-top: 5px;
}
.form_input{
    width: 90%;
    background-color: inherit;
    border-bottom: 3px solid #C8C5F2;
    color: #9E9CC2;
    font-weight: 0;
    text-align: left;
    border-top: inherit;
    border-right: inherit;
    border-left: inherit;
}

.btn_login{
    width: 89px;
    height: 30px;
    line-height: 2;
    text-align: center;
    color: #252433;
    font-weight: bold;
    cursor: pointer;
    background-color: #C8C5F2;
    border: inherit;

}

.login p {
    font-size: 0.8em;
}

.login a {
    margin-top: 30px;
    padding: 2px;

}

.login p:first-of-type{
    margin: 20px auto 0 auto;
}

.inscription, #user_Creer {
    margin-top: 10px;
    padding:3px 10px;
    color: #C8C5F2;
    border: 1px solid #C8C5F2;
    background-color: inherit;
    cursor: pointer;
}

#user_Avatar{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#user_Avatar + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

#user_Avatar:focus + label,
#user_Avatar + label:hover {
    background-color: red;
}
#user_Avatar + label {
    cursor: pointer; /* "hand" cursor */
}
.avatar{
    color: red ;
}
.alert-danger {
    color: rgba(255, 61, 137, 1);
    -webkit-animation: flash 2s infinite; /* Chrome, Safari, Opera */
    animation: flash 2s infinite;

}

.titre2 {
    margin: inherit;
}

/**********************************************
                   PAGE ARTICLES
**********************************************/
.page {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #eee;
}
.liste_articles {
    width: 90%;
    height: auto;
    margin: 100px auto;
    color: #252433;
}
.article {
    width: 100%;
    padding: 4vh 3vw;
    margin: 0!important;
    color: #252433;
    background-color: #fff;
}
.ombre{
    width: 100%;
    height: 30px;
    background-image: url(../images/ombre.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    background-size: cover;
}
.header-article{
     width: 100%;
     height: auto;
     padding: 0.5rem;
     color: #fff;
     background-color: rgba(37, 36, 51, 1);
     /*background-image: url(../images/bg.jpg);
     background-repeat: no-repeat;
     -webkit-background-size: cover;
     background-size: cover;*/
 }

 .date {
     width: 25%;
     display: inline-block;
     vertical-align: middle;
 }
.date_header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vmax;
    height: 7vmax;
    padding: 0.3rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(199, 0, 97, 1);
}
.date_header p{
    font-size: 1.4vmax;
    font-weight: bold;
    line-height: 1.3;
    margin: auto;
}

.titre {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 1.3vmax;
    color: #babdff;
}
@media screen and (min-width: 800px) and (max-width: 2000px) {
    .liste_articles {
        width: 50%;
    }

    .date_header {
        width: 5vmax;
        height: 5vmax;
        padding: 0.3rem;
    }

    .date_header p {
        font-size: 0.9vmax;
        font-weight: bold;
        line-height: 1.2;
        margin: auto;
    }
}
/**********************************************
                   ADMIN ARTICLES
**********************************************/


.contenu {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    padding: 20px;
    color: #252433;
    background-color: #fff;
}
.admin-bar {
    height: auto;
    background-color: #fff;
    z-index: 1000;
}

.interface-admin {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 300px;
    height: 300px;
    margin-top: 8%;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
}
.interface-admin ul {
    padding: inherit!important;
    margin-top: 50px;
}
.interface-admin hr {
    width: 50%;
    margin: auto;
    border:1px solid #252433;
}
.menu_admin {
    width:30px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 10px;
    text-align: right;
}

.avatar img, .avatar-defaut img{
    width: 45px;
}
.avatar, .avatar-defaut {
    width:45px;
    height: 45px;
    margin-right: 80px;
    overflow: hidden;
    text-align: center;
}
.avatar{
    border-radius: 50%;
    border:2px solid #807DA2;
    background-color: #fff;
}
.minifleche {
    width: 30px;
    margin-right: -80px;
}

.btn-afficher {
    width: 9rem;
    height: 1.5rem;
    margin: 0.5rem auto 0 auto;
    padding: 0.1rem;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: inherit;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;
}

.afficher button {
    font-size: 0.6rem;
    margin: inherit!important;
}
/**********************************************
                   FOOTER
**********************************************/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
/**********************************************
                   ANIMATIONS
**********************************************/
.rotating{
    -webkit-animation: rotating 1s; /* Chrome, Safari, Opera */
    animation: rotating 1s;

}
.fadeIn{
    -webkit-animation: fadeIn 10s; /* Chrome, Safari, Opera */
    animation: fadeIn 10s;

}

@keyframes rotating {
    from{
        transform: translate(-1000px,0) rotate(0deg);
    }
    to{
        transform: translate(0,0) rotate(360deg);
    }
}
